%body
  %header.main-header
    / Logo
    %a.logo{:href => "/"}
      / mini logo for sidebar mini 50x50 pixels
      %span.logo-mini
        %b FF
      / logo for regular state and mobile devices
      %span.logo-lg
        Fantasy
        %b Football
    / Header Navbar
    %nav.navbar.navbar-static-top{:role => "navigation"}
      / Sidebar toggle button
      %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
        %span.sr-only Toggle navigation
